In [44]:
import yfinance as yf

In [45]:
stock = yf.Ticker("00881.tw")

In [46]:
stock.history(period="1d",prepost="5m")

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2022-01-04  19.16  19.25  19.16  19.25  7247823          0             0